:root {
    --base-clr: #000123;
    --accent-clr: #f87f74;
    --primary-txt-clr: #ffffff;
    --secondary-txt-clr: #91DC47; 
    --box-clr: #e0e0e0;
    --border-clr: #9b9b9b;
    --box-shadow-clr: #ffffff3a;
    --txt-shadow-clr: #000000;
    --hover-filter-color: invert(59%) sepia(10%) saturate(7422%) hue-rotate(313deg) brightness(104%) contrast(94%);
    --focus-filter-color: invert(73%) sepia(90%) saturate(346%) hue-rotate(37deg) brightness(95%) contrast(88%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    height: 5vh;
    background-color: var(--base-clr);
    display: flex;
    align-items: center;

    > p {
        color: var(--primary-txt-clr);
        display: flex;
        align-items: center;
        margin: 0;
        font-weight: 600;
        margin-left: 1em;
    }

    > .logo {
        width: auto;
        height: 100%;
        margin-left: 1em;
    }

    > p:last-child {
        margin-left: auto; 
        margin-right: 2em;
    }
    
}

main {
    flex-grow: 1;
}

#sidebar {
    box-sizing: border-box;
    height: 95vh;
    width: 260px;
    top: unset;
    bottom: 0;
    padding: 5px 1em;
    position: sticky;
    background-color: var(--base-clr);
    border-right: 1px solid var(--txt-shadow-clr);
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
    z-index: 1;
}

#sidebar.close {
    padding: 5px;
    width: 60px;

}

#sidebar ul {
    list-style-type: none;

    /* Toggle sidebar button */
    > li:first-child {
        margin-bottom: 16px;
    }

    /* Log out button */
    > li:last-child {
        position: absolute;
        bottom: 2em;
    }
}

#sidebar a, 
#sidebar .dropdown-btn, 
#sidebar .logo {
    border-radius: .5em;
    padding: 0.85em;
    text-decoration: none;
    color: var(--primary-txt-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

#sidebar a {
    position: relative;
    z-index: 1;
    transition: 0.35s ease color;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;

    > img {
        transition: 200ms ease;
    }
}

#sidebar img {
    flex-shrink: 0;
    fill: var(--primary-txt-clr);
}

#sidebar a span, 
#sidebar .dropdown-btn {
    flex-grow: 1;
}

/* Hover effect on sidebar */
#sidebar a:hover, 
#sidebar .dropdown-btn:hover, 
#toggle-btn:hover {
    color: var(--accent-clr);
}

#sidebar a:hover img, 
#sidebar .dropdown-btn:hover img, 
#toggle-btn:hover img {
    filter: var(--hover-filter-color);
}

#sidebar a:hover::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    align-items: center;
    border-left: solid 2px var(--accent-clr);
    transition: 0.35s ease top;
}

/* Selected click effect on sidebar */
#sidebar li.selected a {
    color: var(--secondary-txt-clr);
}

#sidebar li.selected a img {
    filter: var(--focus-filter-color);
}

#sidebar li.selected a::before {
    border-left: solid 2px var(--secondary-txt-clr);
}


#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

.rotate img:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    > img{
        transition: rotate 150ms ease;
    }
}

main {
    background-color: var(--box-clr);
}

#dashboard-content {
    margin-top: 10px;
    height: 85vh;
}

#dashboard-content p {
    margin-bottom: 5px;
}

#dashboard-content > div {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 var(--box-shadow-clr), 0 6px 20px 0 var(--box-shadow-clr);
    padding: 25px;
    border-radius: 0.5em;
    background-color: white;
}

#transactions-container div {
    margin-bottom: 20px;
}

#invoice-form fieldset, #expense-form fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group {
    margin: 10px;

    > label {
        margin-right: 5px;
    }
}

#dashboard-content button {
    background-color: var(--base-clr);
    border: solid var(--base-clr);
    color: var(--primary-txt-clr);
    padding: 15px 32px;
    margin-top: 5px;
    /* width: 50%; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

#dashboard-content button:hover {
    background-color: var(--primary-txt-clr);
    color: var(--base-clr);
}

#dashboard-content button:active, #dashboard-content button:focus {
    background-color: var(--accent-clr);
    color: var(--primary-txt-clr);
}

#dashboard-content button:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

#settings-form > div {
    user-select: none;
}


/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"]:not(.visibility) {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
input[type="checkbox"]:not(.visibility)::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  
input[type="checkbox"]:not(.visibility):checked::before {
    transform: scale(1);
}
  
  /* input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  } */

.checkbox {
    display: flex;
    align-items: center;
    margin-left: 10px;
    
    > i {
        margin-left: 10px;
        font-size: 14px;
        user-select:none;
    }
}

.visibility {
    display: none;
}

.visibility-icon {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("/icons/visibility.svg");
    filter: var(--focus-filter-color);
}

.visibility-icon.visible {
    background-image: url("/icons/visibility-off.svg");
}

.visibility-icon.hidden {
    background-image: url("/icons/visibility.svg");
}


div.error-message {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: auto;
    background-color: var(--error-clr);
    border: 1px solid var(--error-border-clr); 
    > p {
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
        color: var(--error-border-clr);
        font-weight: 600;
    }

    > img {
        flex-shrink: 0;
        filter: var(--filter-color);
    }
}

#warning-sign p {
    margin: 5px;
    font-style: italic;
    font-size: 13px;
}

#warning-sign > div {
    margin-bottom: 5px;
}


