:root {
    --base-clr: #000123;
    --accent-clr: #f87f74;
    --primary-txt-clr: #ffffff;
    --secondary-txt-clr: #91DC47; 
    --box-clr: #e0e0e0;
    --border-clr: #9b9b9b;
    --box-shadow-clr: #ffffff3a;
    --txt-shadow-clr: #000000;
    --select-arrow-clr: #3b3c47;
    --select-clr: #4d5061;
    --error-clr: #fedce0;
    --error-border-clr: #f76e80;
    --hover-filter-color: invert(59%) sepia(10%) saturate(7422%) hue-rotate(313deg) brightness(104%) contrast(94%);
    --focus-filter-color: invert(73%) sepia(90%) saturate(346%) hue-rotate(37deg) brightness(95%) contrast(88%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}