:root {
    --base-clr: #000123;
    --accent-clr: #f87f74;
    --primary-txt-clr: #ffffff;
    --border-clr: #9b9b9b;
    --box-shadow-clr: #ffffff3a;
    --txt-shadow-clr: #000000;
    --error-clr: #fedce0;
    --error-border-clr: #f76e80;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.login-page {
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center; 
    backdrop-filter: blur(2px);
}


.welcome {
    color: var(--primary-txt-clr);
    text-align: center;
    border-radius: 25px;
    backdrop-filter: blur(3px);
    text-shadow: 2px 2px 4px var(--txt-shadow-clr);
    box-shadow: 0 4px 8px 0 var(--box-shadow-clr), 0 6px 20px 0 var(--box-shadow-clr);
    padding: 10px;
}

/* @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} */

/* .welcome::after, .welcome::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -99;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
} */

/* .welcome::before{
    filter: blur(1.5rem);
    opacity: 0.5;
} */

/* @keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
} */

.welcome h1 {
    font-size: 4em;
    font-weight: 750;
}

.welcome h3 {
    font-size: 2em;
    font-style: oblique;
    color: #91DC47;
}

.sign-div {
    background-color: var(--primary-txt-clr); 
    border-radius: 25px 0 0 25px;
    font-size: 2em;
}

.sign-title {
    color: var(--accent-clr);
    font-weight: 750;
}

form {
    font-size: 20px;
}

input {
    text-indent: 25px; 
}

.input-group {
    margin: 20px 0;
    position: relative;
    display: inline-block;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 40px;
    font-size: 16px;
    pointer-events: none;
    color: var(--border-clr);
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 360px;
    height: 60px;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid var(--border-clr);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus {
    border: 1.2px solid var(--accent-clr);
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background: var(--accent-clr);
    font-size: 14px;
    border-radius: 5px;
    color: var(--primary-txt-clr);
}

.email-icon::before,
.password-icon::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    position: absolute;
}

.email-icon::before {
    content: url('../img/account-icon.png');
    transform: scale(0.3);
}

.password-icon::before {
    content: url('../img/password-icon.png');
    transform: scale(0.3);
}

button {
    background-color: var(--base-clr);
    border: solid var(--base-clr);
    color: var(--primary-txt-clr);
    padding: 15px 32px;
    margin-top: 10%;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: var(--primary-txt-clr);
    color: var(--base-clr);
}

button:active, button:focus {
    background-color: var(--accent-clr);
    color: var(--primary-txt-clr);
}

.switch-sign {
    margin-top: 5%;
    font-size: 12px;
}

.sign-text {
    font-weight: bold;
    transition-duration: 0.4s;
}

.sign-text:hover{
    color: var(--accent-clr);
    text-decoration: none;
}

.error-message {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: auto;
    background-color: var(--error-clr);
    border: 1px solid var(--error-border-clr); 
    > p {
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
        color: var(--error-border-clr);
        font-weight: 600;
    }

    > img {
        flex-shrink: 0;
        filter: invert(59%) sepia(10%) saturate(7422%) hue-rotate(313deg) brightness(104%) contrast(94%);
    }
}